body {
    padding-top: 80px;
    padding-right: 0 !important;
}
html {
    overflow-y:scroll;
}
#topBar {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 70px;
    box-shadow: 0 0 20px 0 #2222;
    backdrop-filter: blur(10px) brightness(100%);
    transition: background-color 1s;
}
#topBar header {
    height: 70px;
}

#topBar header .row {
    height: 70px;
}
#topBar header .logo {
    height: 70px;
    color: black;
    font-size: 40px;
    line-height: 70px;
}
#topBar header nav {
    height: 70px;
}
#topBar header .user {
    position: relative;
    height: 70px;
}

#topBar #head-image {
    float: right;
    margin-top: 10px;
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 30px;
    border: 2px solid #ffa200;
    box-sizing: border-box;
    cursor: pointer;
    background-size: cover;
}
#topBar .userBox {
    float: right;
    margin-top: 13px;
    margin-right: 10px;
}
#topBar #userName {
    display: block;
    color: #24292e;
    font-size: 15px;
    text-align: right;
    cursor: pointer;
    margin-bottom: 3px;
}
#topBar #userName:hover{
    color: #ffa200;
    text-decoration: none;
}
#topBar #groupName {
    font-size: 15px;
    display: block;
    color: #24292e;
    text-align: right;
    cursor: pointer;
}
#topBar #groupName:hover {
    color: #ffa200;
}
#topBar .nav_item {
    color: #171717;
    box-sizing: border-box;
    height: 70px;
    line-height: 70px;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    border-bottom: 4px;
    cursor: default;
}
#topBar .nav_item:hover {
    color: #ffa200;
    text-decoration: none;
    border-bottom: 4px solid #ffa200;
}

.userMenu {
    display: none;
    background-color: #fff;
    padding: 10px 0;
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 100;
    border-radius: 0 0 8px 8px;
    box-shadow: 2px 5px 10px 0 #3333;
    list-style: none;
}
.userMenu li {
    color: #24292e;
    padding: 6px 20px;
    cursor: pointer;
}
.userMenu li:hover {
    background-color: #ffa200;
    color: white;
}
.userMenu li:hover a{
    color: white;
}
.goTopBtn {
    position: fixed;
    bottom: 100px;
    right: 100px;
    width: 48px;
    height: 48px;
    font-size: 48px;
    color: #ffa200;
    z-index: 99;
}