.top{
    text-align: left;
    padding: 40px 0 60px 0;
    font-size: 32px;
}
.brief {
    color: #888888;
}

#out{
    padding: 40px 0;
    border-top: 1px solid #eee;
}
#out .title {
    margin: 26px 0 20px 0;
    font-size: 20px;
}

input[type="radio"]{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 2px 12px 2px 16px;
    float: left;
}
.option {
    height: 26px;
    margin: 6px 0;
    cursor: pointer;
}
.option span {
    display: inline-block;
    font-size: 16px;
    height: 26px;
    line-height: 26px;
    float: left;
}

input[type="submit"]{
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 40px;
    font-size: 17px;
    color: white;
    border-radius: 6px;
    background-color: #ffa200;
    border: none;
}

