a {
    color: black;
    text-decoration: none;
}
#bg_image {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
    height: 635px;
    background-image: url("../images/shouyelunbo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.contentList .bg_image_tip {
    height: 300px;
    padding: 0 32px;
}
.bg_image_tip #bg_title{
    color: white;
    font-size: 38px;
    text-align: right;
    margin: 68px 0 20px 0;
    text-shadow: 0.1em 0.1em 0.5em black;
}
.bg_image_tip #bg_copyright{
    color: white;
    font-size: 18px;
    text-align: right;
    text-shadow: 0.1em 0.1em 0.2em black;
}
.contentList{
    z-index: 5;
    text-align: center;
}
.contentList .itemBox {
    display: inline-block;
    position: relative;
    background-color: #fff;
    box-shadow: 2px 2px 6px 0 #2222;
    border-radius: 16px;
    height: 300px;
    margin: 30px;
    box-sizing: border-box;
    text-align: left;
    padding: 18px;
    overflow: hidden;
    cursor: pointer;
    top: 0;
    transition: top .4s, box-shadow .4s;

}

.contentList .itemBox:hover {
    top: -5px;
    box-shadow: 8px 12px 10px -5px #2222;
    transition: top .4s, box-shadow .4s;
}

.contentList .itemBoxBig {
    width: 520px;
}
.contentList .itemBoxBig h3,
.contentList .itemBoxBig p{
    width: 230px;
}
.contentList .itemBoxSmail {
    width: 230px;
}
.itemBox .itemTitle {
    margin: 6px 0;
    font-size: 22px;
}

.itemBox .itemBrief {
    color: #898989;
    margin: 18px 0 0 0;
    line-height: 28px;
}
.itemBox .postImage {
    position: absolute;
    top: 0;
    height: 300px;
    width: 260px;
    right: 0;
    border-radius: 0 16px 16px 16px;
    background-repeat: no-repeat;
    background-size: cover;

}
.itemBox .textBox {
    height: 240px;
    overflow: hidden;
}
.itemBox .underBox {
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}

.itemBox .underBox span{
    padding-right: 10px;
}

.leftBox {
    position: fixed;
    top: 0;
    height: 740px;
    width: 200px;
    padding: 90px 0 0 0;
    background-color: #ffa200;
    box-sizing: border-box;
    transition: height 1s;
}
.leftBox:hover {
    height: 800px;
    transition: height 1s;
}
.leftBox:hover .bigIcon{
    transition: transform 1s;
    transform: rotate(360deg);
}
.leftBox .end {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    border: 100px solid #ffffff00;
    border-bottom-color: white;

}
.leftBox .bigIcon {
    color: white;
    font-size: 100px;
    display: block;
    text-align: center;
    transition: transform 1s;
    transform: rotate(0deg);
}
.leftBox ul {
    list-style: none;
    padding: 0;
}

.leftBox ul li{
    text-align: center;
    color: white;
    font-size: 16px;
    margin: 20px 0;
}
.leftBox h2 {
    color: white;
    text-align: center;
    margin: 30px 0;
}
