
#bg_image {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
    height: 635px;
    background-image: url("../images/shouyelunbo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 70px;
    box-shadow: 0 0 20px 0 #2222;
}
header {
    height: 70px;
}

header .row {
    height: 70px;
}
header .logo {
    height: 70px;
    color: black;
    font-size: 40px;
    line-height: 70px;
}
header nav {
    height: 70px;
}
header .user {
    height: 70px;
}

#head-image {
    float: right;
    margin-top: 10px;
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 30px;
    border: 2px solid #ffa200;
    box-sizing: border-box;
    cursor: pointer;
}
.userBox {
    float: right;
    margin-top: 13px;
    margin-right: 10px;
}
#userName {
    width: 75px;
    display: block;
    color: #24292e;
    font-size: 15px;
    text-align: right;
    cursor: pointer;
    margin-bottom: 3px;
}
#userName:hover{
    color: #ffa200;
    text-decoration: none;
}
#groupName {
    font-size: 15px;
    display: block;
    color: #24292e;
    text-align: right;
    cursor: pointer;
}
#groupName:hover
{
    color: #ffa200;
}
.nav_item {
    color: #24292e;
    box-sizing: border-box;
    height: 70px;
    line-height: 70px;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    border-bottom: 4px;
    cursor: default;
}
.nav_item:hover {
    background-color: #fff1;
    color: #ffa200;
    text-decoration: none;
    border-bottom: 4px solid #ffa200;
}
.nav_item:visited{
    text-decoration: none;
}
.nav_item:active{
    text-decoration: none;
}
.nav_item:link{
    text-decoration: none;
}
.dropdown-menu{
    width: 30px;
}
.contentList{
    z-index: 5;
    padding-top: 450px;
    text-align: center;
}
.contentList .itemBox {
    display: inline-block;
    position: relative;
    background-color: #fff;
    box-shadow: 2px 2px 6px 0 #2222;
    border-radius: 16px;
    height: 300px;
    margin: 30px;
    box-sizing: border-box;
    text-align: left;
    padding: 18px;
    overflow: hidden;
    cursor: pointer;
    top: 0;
    transition: top .4s, box-shadow .4s;

}

.contentList .itemBox:hover {
    top: -5px;
    box-shadow: 8px 12px 10px -5px #2222;
    transition: top .4s, box-shadow .4s;
}

.contentList .itemBoxBig {
    width: 520px;
}
.contentList .itemBoxBig h3,
.contentList .itemBoxBig p{
    width: 230px;
}
.contentList .itemBoxSmail {
    width: 230px;
}
.itemBox .itemTitle {
    margin: 0;
    font-size: 22px;
}

.itemBox .itemBrief {
    color: #898989;
    margin: 18px 0 0 0;
}
.itemBox .postImage {
    position: absolute;
    top: 0;
    height: 300px;
    width: 260px;
    right: 0;
    border-radius: 0 16px 16px 16px;
    background-repeat: no-repeat;
    background-size: cover;

}

.leftBox {
    position: fixed;
    top: 0;
    height: 800px;
    width: 200px;
    padding: 90px 0 0 0;
    background-color: #ffa200;
    box-sizing: border-box;
    transition: height 1s;
}
.leftBox:hover {
    height: 850px;
    transition: height 1s;
}
.leftBox:hover .bigIcon{
    transition: transform 1s;
    transform: rotate(360deg);
}
.leftBox .end {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    border: 100px solid #ffffff00;
    border-bottom-color: white;

}
.leftBox .bigIcon {
    color: white;
    font-size: 100px;
    display: block;
    text-align: center;
    transition: transform 1s;
    transform: rotate(0deg);
}
.leftBox ul {
    list-style: none;
    padding: 0;
}

.leftBox ul li{
    text-align: center;
    color: white;
    font-size: 16px;
    margin: 20px 0;
}
.leftBox h2 {
    color: white;
    text-align: center;
    margin: 30px 0;
}