#messagePage {
    padding-top: 200px;
    text-align: center;
    color: #ffa200;
}

#icon {
    display: block;
    font-size: 90px;
}

#messagePage h1 {
    font-size: 50px;
    margin: 30px 0;
}

#messagePage p {
    font-size: 32px;

}
