#post_title {
    font-size: 26px;
    outline: none;
    border: none;
    height: 50px;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-bottom: 1px solid #efefef;
}
.label_tip {
    font-size: 22px;
    text-align: left;
    margin-top: 10px;
    padding: 0;
}
#post_brief {
    height: 100px;
    padding: 12px;
    border: 1px solid #eee;
    outline: none;
    text-align: left;
    margin: 0 0 20px 0;
    border-radius: 8px;
    background-color: #fefefe;
    resize: none;
    box-sizing: border-box;
}
#inputChooseCover {
    display: none;
}
#chooseCover {
    background-color: #fff;
    border: 1px solid #eee;
    width: 86px;
    height: 100px;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    background-size: cover;
    text-align: center;
}
#editor {
    min-height: 800px;
}
.btn-post {
    margin-top: 18px;
    background-color: rgb(255,149,0);
    outline: none;
    border: none;
    border-radius: 8px;
    color: white;
    height: 40px;
    font-size: 16px;
}
.modal-content{
    top: 180px !important;
}
#modal-header h4{
    font-weight: bold;
}
.modal-header{
    padding: 15px 15px 0 15px;
}
.close span{
    margin-bottom: 20px;
    top: -30px !important;
    position: relative !important;
}
















