#post_title {
    font-size: 26px;
    outline: none;
    border: none;
    height: 50px;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-bottom: 1px solid #efefef;
}
.label_tip {
    font-size: 22px;
    text-align: left;
    margin: 0;
    padding: 0;
}
#post_brief {
    height: 76px;
    padding: 0 0 0 12px;
    border: 0;
    outline: none;
    text-align: left;
    margin: 0 0 20px 0;
    background-color: #fefefe;
    resize: none;
}
#editor {
    min-height: 800px;
}
.btn-post {
    background-color: rgb(255,149,0);
    outline: none;
    border: none;
    border-radius: 8px;
    color: white;
    height: 40px;
    font-size: 16px;
}
.submitBox,
.draftBox{
    margin: 10px 0;
}
.draftBox{
    left:900px;
    position: relative;
}

















