body{
    padding-top: 90px;
}
.leftbox{
    padding: 30px 0;
    height: 600px;
    border-radius: 16px 0 0 16px;
    background: #ffa200;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 #33333333;
    float: left;
}

.leftbox ul{
    padding: 40px 0;
    height: 200px;
    width: 100%;
    line-height: 20px;
    box-sizing: border-box;
    color: #fff;
}
.leftbox li{
    text-align: center;
    margin: 0 0;
    font-size:18px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
}
.leftbox li:hover {
    background: #ffaf23;
}
.leftbox li a{
    /*取消下划线*/
    width:150px;
    height: 50px;
    color: white;
    display: inline-block;
    text-decoration: none;
}
.leftbox li:hover{
}
.user_information{
    margin: auto;
    color: white;
    width: 100%;
    text-align: center;
}
/*图片的设定*/
.leftimage{
    margin: 0;
    /*图片尺寸大小*/
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 70px;
    border: 5px solid #0C9A9A ;
    box-sizing: border-box;
    text-align: center;
}
.user_information h3{
    text-align: center;
}
.rightbox{
    /*display: block;*/
    height: 600px;
    border-radius: 0 16px 16px 0;
    /*background: white;*/
    background-repeat: no-repeat;
    background-image: url("../images/background-1-little.png");
    background-position: bottom right;
    /*background-position: bottom;*/
    padding:3%;
    float: left;
    box-shadow: 0 0 12px 0 #33333333;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.leftusercontent{
    font-size: 18px;
    line-height: 50px;
    display: inline-block;
    float: left;
    width: 35%;
}
.rightusercontent{
    font-size: 18px;
    line-height: 50px;
    display: inline-block;
    margin-left: 10%;
    width: 35%;
}
leftusercontent input,
.rightusercontent input{
    margin-bottom: -5px;
}
#sexBaseInfo{
    top: -5px;
    position: relative;
}
#sexDiv{
    margin-bottom: 10px;
}
.recognizedtext{
    font-size: 20px;
    color: darkgray;
}



.basic_information {
    padding: 0 40px;
    display: block;
    margin-top: -20px;
}

.active{
    /*被点击时的列表变化*/
    color: white;
    background-color: #fead3f;
}

#saveBaseInfo{
    width: 100px;
    height: 40px;
    margin-top: 54px;
    font-size: 17px;
    color: #fff;
    border-radius: 6px;
}

input{
    height: 50px !important;
    border-radius: 6px !important;
}
input:focus{
    /*输入框的样式*/
    border: 1px solid #ffa200 !important;
    box-shadow: 0 0 5px #ffa200 !important;
    outline: 0 !important;
}


input[type="radio"] {
    margin-right: 10px;
}
label{
    margin-right: 40px;
    position: relative;
    /*top: -17px;*/
    margin-bottom: 29px;
    color: gray;
}
#phone{
    margin-top: -50px;
    position: absolute;
}
.btsaveandreset{
    float: right;
    margin-bottom: 30px;
    /*font-size: ;*/
}
#interface-1{
    height: 600px;
    display: block;
    /*display: none;*/
}
#interface-2{
    height: 600px;
    /*background-image: url("../images/background-1.png");*/
    /*background-position: bottom right;*/
    /*background-repeat: no-repeat;*/
    /*background-image: url("../images/background-1-little.png");*/
    /*!*background-position: bottom right;*!*/
    /*background-position: right;*/
    display: none;
}
#interface-3{
    height: 600px;
    /*background-repeat: no-repeat;*/
    /*background-image: url("../images/background-1-little.png");*/
    /*background-position: bottom right;*/
    display: none;
}
#interface-4{
    height: 600px;
    /*background-repeat: no-repeat;*/
    /*background-image: url("../images/background-1-little.png");*/
    /*background-position: bottom right;*/
    display: none;
}
#interface-5{
    height: 600px;
    /*background-repeat: no-repeat;*/
    /*background-image: url("../images/background-1-little.png");*/
    /*background-position: bottom right;*/
    display: none;
}

.form-check-inline input {
    display: none;
}

.recognizedtext label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 25px;
}

.recognizedtext label:hover,
.recognizedtext input:checked+label {
    color: #ffa200;
}

.recognizedtext label::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    border: 1px solid #ff5e14;
    position: absolute;
    left: 0;
    top: 18px;
}

.recognizedtext input:checked+label::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #ffa200;
    position: absolute;
    left: 3px;
    top: 21px
}
.modal-content {
    top: 180px !important;
}

.updatepasswordinterface{
    margin-top: 2%;
    padding: 5%;
    margin-left: 20%;
}
.updatepasswordinterface input{
    padding: 6px 12px;
}
p{
    font-size: 20px;
    line-height: 30px;
    margin: 10px;
}
#buttonsave{
    /*float: right;*/
    /*上右下左*/
    margin:50px 0 40% 40px;
    width: 100px;
    height: 40px;
    color: white;
    font-size: 17px;
    border-radius: 6px;
}
#buttonreset{
    /*float: right;*/
    text-align: center;
    margin:50px 0 40% 40px;
    width: 100px;
    height: 40px;
    color: white;
    font-size: 17px;
    border-radius: 6px;
}
.buttonstyle{
    margin-bottom: 20px;
    margin-left: 30%;
    /*text-align: center;*/

}
.updateinputsize{
    width: 400px;
    border: 1px solid darkgray;
}
#uploadimage{
    /*上右下左*/
    margin: 30px 0 20px 15%;
    background-color:white;
    width: 380px;
    height: 380px;
    cursor: pointer;
    border-radius: 10px;
    border: 4px dashed wheat;
    background-size: contain;
    text-align: center;
}
.uploadpicture h2{
    margin-left: 10%;
}
#uploadbuttonsave{
    margin: 0 0 0 32%;
    width: 100px;
    height: 40px;
    color: white;
    font-size: 17px;
    border-radius: 6px;
}
#buttonstyle{
    margin-bottom: 20px;
    margin-left: 40%;
    /*text-align: center;*/

}
.updateemailinterface{
    margin-top: 50px;
    margin-left: 20%;
}