#head{
    /*border-bottom: 2px solid #ffa200;*/
    margin-bottom: 52px;
}
#head h1{
    text-align: left;
    font-size: 22px;
    color: #000;
}
#head p {
    color: #aaa;
}

#user_show {
    border-radius: 12px;
    background-color: #fff;
    min-height: 400px;
    padding: 0 10px 10px 20px;
    margin-top: 20px;
    border-left: 1px solid #eee;
}
#user_show h3 {
    font-size: 22px;
    padding-top: 10px;
    margin-bottom: 28px;
    color: #616161;
}
#user_show p {
    margin: 10px 0 0 0;
    padding: 0 8px;
}
#view {
    margin-top: 28px;
}

#view h1 {
    font-size: 1.75em;
}
#view h2 {
    font-size: 1.55em;
}
#view h3 {
    font-size: 1.38em;
}
#view h4 {
    font-size: 1.25em;
}
#view h4 {
    font-size: 1.13em;
}
#view h5 {
    font-size: 1.0em;
}
#view h1 {
    font-size: 1.75em;
}
#view h1,
#view h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
}
#view h1,
#view h2,
#view h3,
#view h4,
#view h5,
#view h6{
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
    margin-left: 0;
}
#view p{
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 2em;
}
#view img {
    max-width: 100%;
}
#view blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #eaecef;
    margin: 0 0 16px 0;
}