#head{
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ffa200;
}
#head h1{
    color: #0f0f0f;
    text-align: center;
}
.container{
    width: 100%;
    height: 1000px;
}
#view{
    margin:auto;

}
#view h1{
    position: relative;
    padding-top: 5px;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 20px;
}
#view h2{
    position: relative;
    padding-top: 5px;
    font-size: 20px;
    margin-left: 20px;
}
#view h3{
    position: relative;
    padding-top: 5px;
    font-size: 15px;
    margin-left: 20px;
}

#view p{
    position: relative;
    font-size: 10px;
    padding-top: 5px;
    padding-left: 25px;
}

#jt{
    position: fixed;
    margin-top: 100px;

}
#jt img{
    margin-left:100px;
    height: 50px;
    width: 50px;
}